
.fh-title{color:#0C4B33 ;}
.nav-bg{background-color:#0C4B33 ;}
.imgsize{
  height: 280px!important;
}

.fh{
  color: #0C4B33; 
  
} 


.paginationfh {
  display: flex;
padding-left: 0;
list-style: none;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

.signup2form p span, .signup2form ul li{
  color:#6c757d;
  font-size:14px;
}



  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  } 