{% extends 'includes/base.html' %}
{% load static %}
{% load static %}


{% block title %}
    Home
{% endblock  %}

{% block content %}
   <main>
 <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1 fh-title">{{ data.1.title  }}</h1>
        <h1 class="display-4 fw-bold lh-1 fh-title"><small class="text-muted">{{ auth.0.fname }} {{auth.0.lname}} </small></h1>

        <p class="lead">{{ data.1.description }}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default button</button>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img class="rounded-lg-3" src="{% static 'images/bs1.png' %}" alt="" width="720">  
      </div>
    </div>
  </div>
    

  <div class="album py-5 bg-light">
    <div class="container">
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       {% for item in data %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ item.img.url }}" class="imgsize img-fluid rounded-top"  alt="">

            <div class="card-body">
              <h5 class="card-title fh"> <a href="{% url 'article_details2' item.id %}"  > {{ item.title }} </a>  </h5>
              <p class="card-text">{{ item.excerptf }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">{{ item.datetime }} </small> 
                 <small class="text-muted">-By {{ auth.0.lname }} </small>
                
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        

      </div>
    </div>
  </div>

</main>







{% endblock %}


