
{% extends "includes/base.html" %}

{% block title %}
    Login page
{% endblock %}


{% block content %}

<div class="container">
   <div class="row justify-content-center align-items-center g-2 my-4">
    <div class="col-6  " > 
        <h1> Login Form </h1> <hr>

     <form method="POST">
     {% csrf_token %}
        <div class="mb-3">
          <label for="" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id=""  placeholder="Your Username">
        </div> 
        <div class="mb-3">
          <label for="" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id=""   placeholder="Your Password">
        </div>   
        <div class="mb-3">
           <input class="btn btn-primary py-2 px-5" type="submit" value="Login"> 
        </div>       
        
    </form>
    
    
    </div>
   </div>

  {% if messages %}
        <div class="alert alert-danger alert-dismissible fade show w-50 offset-3" role="alert">
            {% for message in messages %}
                {{ message }} 
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}



</div>

{% endblock  %}