{% extends "includes/base.html" %}

{% block title %}
    FBV add CRUD 
{% endblock  %}


{% block content %}
        <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-3">
        <h1 class="display-5 fw-bold">FBV add in CRUD Operation</h1>
      <div class="w-50"> 
    
      <!-- 
    <form class="d-flex">
        {% csrf_token %}
        <div class="col">
            <div class="mb-3">
                <label for="" class="form-label">Title:</label>
                  {{form.title}}  
                <label for="" class="form-label">Description:</label>
                   {{form.description}}  
                  <input name="sumbit" class="btn btn-primary mt-4 px-5 w-25" type="submit" value="Add">
                 
            </div>
        </div>
    </form>
      --> 

    <form method="POST" enctype="multipart/form-data">
       {% csrf_token %}
       {{ form.as_p }}
       <input name="sumbit" class="btn btn-primary mt-2 w-25" type="submit" value="add">
       
    </form>
     <a class="btn btn-outline-success btn-lg px-4 mt-5" href="{% url 'fbhome' %}" role="button"> <i class="bi-chevron-double-left"></i> Back</a> 
     <a class="btn btn-outline-success btn-lg px-4 mt-5" href="{% url 'fbhome' %}" role="button">View the List</a> 
  </div>

 

     
    </div>
{% endblock  %}
