{% extends "includes/base.html" %}
{% load crispy_forms_tags %} 
{% block title %}Sign Up3{% endblock %}

{% block content %}
<div class="container">
  <h2 class="my-4">Sign up3</h2>
  <form method="post" class="signup2form" >
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary py-2 px-5" type="submit">Sign Up3</button>
  </form>


<div class="form">
      {{ form.errors }}
     
        <p class="message py-4">Already registered? <a href="{% url 'login' %}">Login</a></p>
      
        
    </div>















  </div>
{% endblock %}