{% extends "includes/base.html" %}

{% block title %}Sign Up2{% endblock %}

{% block content %}
<div class="container">
  <h2>Sign up2</h2>
  <form method="post" class="signup2form" >
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary py-2 px-5" type="submit">Sign Up2</button>
  </form>


<div class="form">
      {{ form.errors }}
     
        <p class="message py-4">Already registered? <a href="{% url 'login' %}">Login</a></p>
      
        
    </div>















  </div>
{% endblock %}